<div class="border border-primary" style="margin-bottom: 15px;">
    <div class="row justify-content-between">
        <div class="col-10">
            <h4 class="text-start" style="color: gray; font-size: xx-large; margin-top: 5px;"><b>{{job['title']}}</b>
            </h4>
            <div class="text-start " style="color: violet;"><b>Location: {{job['location']}}</b></div>
            <div class="text-start" style="margin-top: 5px; color: blue;"><b>Salary: {{job['salary']}}</b></div>
        </div>
        <div class="col-2">
            <button class="btn btn-outline-primary" style="margin: 30px 5px 5px 45px;">APPLY</button>
        </div>
        <!-- <hr> -->
    </div>
</div>